* {
    box-sizing: border-box;
  }
  
 
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: black;
  }
  

  .header {
    padding: 15px;
    text-align: center;
    background: black;
    color: white;
    height: 70px;
  }
  

  .header h1 {
    font-size: 40px;
  }
  
  /* Style the top navigation bar */
  .navbar {
    overflow: hidden;
    background-color: #333;
  }

  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  

  .navbar a.right {
    float: right;
  }
  
 
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
 
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  
  .date {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color:black;
    color:white;
    padding: 20px;
  }
  

  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color:black;
    color:white;
    padding: 20px;
  }
  
 
  .fakeimg {
    background-color:grey;
  color:white;
    width: 100%;
    padding: 20px;
  }
  
 
  .footer {
    font-family: 'Times New Roman', Times, serif;
    font-size:small;
    width:100%;
    padding: 20px;
    text-align: center;
    background:black;
    color:white;
  }
  
 
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
 
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
