* {
    box-sizing: border-box;
  }
  

  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color:white;
  }
  

  .header {
    padding: 15px;
    text-align: center;
    background: black;
    color: white;
    height: 70px;
  }
  
 
  .header h1 {
    font-size: 40px;
  }
  

  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  

  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  

  .navbar a.right {
    float: right;
  }
  

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  

  .row {  
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  

  .date {
    -ms-flex: 30%; 
    flex: 30%;
    background-color:black;
    color:white;
    padding: 15px;
  }
  #date{
    background-color: white;
    padding: 15px;
  }
  .explanation{
  
    -ms-flex: 30%; 
    flex: 30%;
    background-color:WHITE;
    color:BLACK;
    padding: 15px;
 

  }
  #explanation{

font-size: 1.3rem;

  }
  .tomorrowsPic{
    -ms-flex: 15%; 
    flex: 15%;
    background-color:grey;
    color:black;
    padding: 15px;

  }
  
  #hdurl{

    padding: 15px;
  }
  

  .main {   
    -ms-flex: 70%; 
    flex: 70%;
    background-color:black;
    color:white;
    padding: 20px;
  }
  .title{
   width:10%;
    background-color:white;
    color:black;
    padding: 15px;

  }
  #title{
    color: black;
    padding: 15px;

  }
  
  #url{
   width:700px
  }

  .footer {
    font-family: 'Times New Roman', Times, serif;
    font-size:small;
    width:100%;
    padding: 20px;
    text-align: center;
    background:black;
    color:white;
  }
  
 
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }